<div th:fragment="header">
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <h5 class="my-0 mr-md-auto font-weight-normal">ISIS</h5>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="nav-link px-2 text-secondary" href="/">Главная</a>
                <a class="nav-link px-2 text-black" href="/student">Студенты</a>
                <a class="nav-link px-2 text-black" href="/studentGroup">Группы</a>
                <a class="nav-link px-2 text-black" href="/teachingMethod">Методы обучения</a>
                <a class="nav-link px-2 text-black" href="/analys">Анализ</a>
                <div class="text-end">
                    <a class="btn btn-outline-primary" href="/anon">Выход</a>
                </div>
            </nav>
        </div>
    </div>
</div>
